
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root, [data-color-theme="orange"] {
    --primary-hue: 34.9;
    --primary-saturation: 99.3%;
    --primary-lightness: 49.4%;
    --accent-lightness: 59.4%;
    --accent-dark-lightness: 39.4%;
  }
  [data-color-theme="blue"] {
    --primary-hue: 217.2;
    --primary-saturation: 91.2%;
    --primary-lightness: 59.8%;
    --accent-lightness: 69.8%;
    --accent-dark-lightness: 49.8%;
  }
  [data-color-theme="green"] {
    --primary-hue: 142.1;
    --primary-saturation: 76.2%;
    --primary-lightness: 36.3%;
    --accent-lightness: 46.3%;
    --accent-dark-lightness: 26.3%;
  }
  [data-color-theme="purple"] {
    --primary-hue: 262.1;
    --primary-saturation: 83.3%;
    --primary-lightness: 57.8%;
    --accent-lightness: 67.8%;
    --accent-dark-lightness: 47.8%;
  }

  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: var(--primary-hue) var(--primary-saturation) var(--primary-lightness);
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: var(--primary-hue) var(--primary-saturation) var(--accent-lightness);
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: var(--primary-hue) var(--primary-saturation) var(--primary-lightness);
    --radius: 0.75rem;

    --chart-1: 142.1 76.2% 36.3%; /* Green */
    --chart-2: 0 84.2% 60.2%; /* Red */
    --chart-3: 204 90% 50%; /* Blue */
    --chart-4: var(--primary); /* Orange */
    --chart-5: 262.1 83.3% 57.8%; /* Purple */
  }
 
  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: var(--primary-hue) var(--primary-saturation) var(--primary-lightness);
    --primary-foreground: 210 40% 98%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: var(--primary-hue) var(--primary-saturation) var(--accent-dark-lightness);
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: var(--primary-hue) var(--primary-saturation) var(--primary-lightness);

    --chart-1: 142.1 76.2% 36.3%; /* Green */
    --chart-2: 0 72.2% 50.6%; /* Red */
    --chart-3: 204 90% 50%; /* Blue */
    --chart-4: var(--primary); /* Orange */
    --chart-5: 262.1 83.3% 57.8%; /* Purple */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: 'PT Sans', sans-serif;
  }
  h1, h2, h3, h4, h5, h6, .font-headline {
    font-family: 'Poppins', sans-serif;
  }
}
