
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 24 94% 95%; /* light orange */
    --foreground: 24 10% 10%;
    --card: 24 94% 98%;
    --card-foreground: 24 10% 10%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 33 100% 50%; /* vibrant orange */
    --primary-foreground: 210 20% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 33 80% 40%; /* deep orange */
    --accent-foreground: 210 20% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 33 100% 50%;
    --radius: 0.75rem;

    --chart-1: 142.1 76.2% 36.3%; /* Green */
    --chart-2: 0 84.2% 60.2%; /* Red */
    --chart-3: 33 80% 40%; /* deep orange */
    --chart-4: 43 74% 66%;
    --chart-5: 33 100% 50%; /* vibrant orange */
  }
 
  .dark {
    --background: 24 10% 10%;
    --foreground: 210 20% 98%;
    --card: 24 10% 10%;
    --card-foreground: 210 20% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 210 20% 98%;
    --primary: 33 100% 50%; /* vibrant orange */
    --primary-foreground: 210 20% 98%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 33 80% 40%; /* deep orange */
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 33 100% 50%;

    --chart-1: 142.1 76.2% 36.3%; /* Green */
    --chart-2: 0 84.2% 60.2%; /* Red */
    --chart-3: 33 80% 40%; /* deep orange */
    --chart-4: 43 74% 66%;
    --chart-5: 33 100% 50%; /* vibrant orange */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
